.offersListItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2vh 0;
  border-bottom: 1px solid #eee;
  gap: 2vh;

  &:last-child {
    border-bottom: none;
  }

  .offersListItemOrder {
    justify-content: center;
    display: flex;
    gap: 2vw;

    .counter {
      display: flex;
      column-gap: 0.2vw;
      align-items: center;

      button {
        padding: 0;
        border: none;
        background-color: #fff;

        &.active {
          cursor: pointer;

          svg {
            color: #16ba2d;
          }
        }

        &:disabled {
          cursor: default
        }
      }


    }

    .description {
      color: #aaa;
      font-size: 14px;
    }
  }
}