.offersListItem {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2vh;
  gap: 2vh;

  .offersListItemOrder {
    justify-content: center;
    display: flex;
    gap: 2vw;

    .counter {
      display: flex;
      column-gap: 0.2vw;
      align-items: center;
      border: 1px solid gray;
      border-radius: 5px;

      svg {
        cursor: pointer;
      }

      .active {
        color: #16ba2d;
      }
    }

    .description {
      color: #aaa;
      font-size: 14px;
    }
  }
}