.offerTop {
  background-color: #eee;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  img {
    max-width: 430px;
    max-width: calc(min(430px, 100%));
  }
  .offerTop_description {
    max-width: 430px;
    h1 {
      color: #333;
      font-family: "Open Sans", sans-serif;
      font-size: 24px;
      margin: 10px 0;
      margin: calc(min(10px, 1.5vh)) 0;
    }
    .offerTop__details {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .offerPrice {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 78px;
        height: calc(min(78px, 11vh));
        font-size: 22px;
        font-weight: bold;
        background-color: #fff;
        border-radius: 10px;
        color: #090;
      }
      .offerStatAndBuy {
        display: flex;

        .offerStat {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          row-gap: calc(min(10px, 1.5vh));
          margin: 10px;
          margin: calc(min(10px, 1.5vh));
          font-size: 14px;
          .offerDeadline,
          .offerSold,
          .offerComment {
            display: flex;
            align-items: center;
            column-gap: 5px;
            svg {
              color: #090;
            }
            a {
              color: #333;
            }
          }
        }
        button {
          padding: 10px;
          height: min-content;
          font: italic bold 30px Georgia;
          border-radius: 20px;
          border: 2px solid #fff;
          box-shadow: 0 3px 5px #666;
          color: #fff;
          background: #009900
            linear-gradient(to bottom, #1aa31a, #1aa31a, 50%, #009900 50%);
          cursor: pointer;
        }
      }
    }
  }
}

.offerNav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px;
  a {
    display: inline-block;
    height: 30px;
    padding: 0 15px;
    border: 1px solid #ccc;
    color: #888;
    border-radius: 5px;
    text-decoration: none;
    line-height: 30px;
    box-shadow: 0 1px 1px #eee;
  }
  .pending {
    color: #999;
    background-color: #bbb;
    border: 1px solid #333;
  }
  .active {
    color: #fff;
    background: linear-gradient(#b00, #d00);
    border: 1px solid #d00;
  }
  .pending ~ .spinner {
    display: block;
  }
  .spinner {
    display: none;
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
    animation: spin 1s infinite linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
