.comments {
  max-width: 1300px;
  margin: 0 auto;
  max-width: 84rem;
  max-width: calc(min(84rem, 100%));
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 10px;
}