.footer {
  line-height: 170%;
  background-color: #333;
  color: #fff;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 3vh 4vw;
    gap: 2vh;
    @media (min-width: 1100px) {
      flex-direction: row;
      padding: 3vh 0;
    }

    h3 {
      font-size: 20px;
    }

    a {
      color: #999;
      text-decoration: underline #555;
    }
  }
}