.step1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  margin-top: 3vh;

  p {
    color: #666;
  }

  .next {
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    max-width: 800px;

    .disclaimer {
      font-size: 13px;
      color: #999;
      margin-top: 10px;
      max-width: 70%;
    }

    button {
      padding: 1.5vh 2.5vw;
      border-radius: 5px;
      box-shadow: 0 1px 1px #eee;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      cursor: pointer;
      color: #fff;
      background: #16ba2d;
      border: 1px solid #16ba2d;

      &:disabled {
        background-color: #eee;
        color: #ccc;
        border: 1px solid #ccc;
        cursor: auto;
      }
    }
  }
}