.step1 {
  display: flex;
  flex-direction: column;

  p {
    color: #666;
  }

  .offersList {
    overflow-y: auto;
    max-height: 70vh;
  }

  .next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 1vw;
    max-width: 800px;
    position: sticky;
    bottom: 0;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 -5px 10px -4px #999999;

    .disclaimer {
      font-size: 13px;
      color: #999;
      margin-top: 10px;
      max-width: 70%;
      font-size: calc(min(13px, 1.4vh));
      line-height: 110%;
    }

    button {
      padding: 1.5vh 2.5vw;
      border-radius: 5px;
      box-shadow: 0 1px 1px #eee;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      cursor: pointer;
      color: #fff;
      background: #16ba2d;
      border: 1px solid #16ba2d;

      &:disabled {
        background-color: #eee;
        color: #ccc;
        border: 1px solid #ccc;
        cursor: auto;
      }
    }
  }
}