[class*="__container"] {
  max-width: 84rem;
  max-width: calc(min(84rem, 100%));
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 20px;
}

* {
  margin: 0;
}

body {
  font: normal 16px "Open Sans", sans-serif;
}
